---
const today = new Date();
---

<footer>
	&copy; 2026 介護ナースのリアル
	<div class="social-links">
		<a href="" target="_blank">
			<span class="sr-only">Xをフォロー</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
				><path
					fill="currentColor"
					d="M9.294 7.028 14.44 1h-1.23L8.74 6.245 5.17 1H1l5.388 7.84L1 15h1.23l4.71-5.47L10.83 15H15zM7.55 8.64l-.546-.78L2.67 1.9h1.87l3.507 5.01.546.78 4.556 6.51h-1.87z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
